@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@900&family=Montserrat:wght@100;300;400;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

*::selection {
    background-color: #fff;
    color: #c3fd5e;
}

html,
body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: block;
    background-color: #000;
    width: 3px;
    opacity: 0.8;

}

body::-webkit-scrollbar-thumb {
    background-color: #c3fd5e;
    border-radius: 80px;
    opacity: 0.5;
}

/* cursor  and blur*/

#cursor {
    height: 10px;
    width: 10px;
    background-color: #c3fd5e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    height: 200px;
    width: 200px;
    background-color: #c3fd5e69;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}

#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 62px 117px;
    gap: 30px;
    position: fixed;
    justify-content: flex-start;
    z-index: 50;
}

#nav img {
    height: 70px;
}

#nav h4 {
    font-size: 0.90rem;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1 {
    font-size: 90px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -3.5px;
    left: -3.5px;
    -webkit-text-stroke: 1px #c3fd5e;
    z-index: -1;
}

#page1 h2 {
    font-size: 24px;
    font-weight: 900;
    margin-block: 15px;
}

#page1 h3 {
    font-size: 19px;
    width: 50%;
    font-weight: 300;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller h4 {
    display: inline-block;
    font-size: 6rem;
    font-weight: 900;
    margin-right: 10px;
    font-family: gilroy;
    color: transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke-color: wheat;
    -webkit-text-stroke-width: 1.5px;
}

#scroller h4:hover {
    color: #9fd63fc4;
    cursor: pointer;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#about-us {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 10px 90px;
}

#about-us img {
    border-radius: 12px;
    height: 167px;
    width: 151px;
    object-fit: cover;
}

#about-us-in {
    text-align: center;
    width: 60%;
}

#about-us-in h1 {
    font-size: 2.3rem;
    margin-block: 20px;
    font-weight: 900;
}

#about-us-in p {
    font-size: 1.2rem;
    line-height: 30px;
    margin-block: 20px;
    font-weight: 500;
}

#cards-container {
    /*     background-color: red;
 */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: relative;
}

.card {
    /*     background-color: blue;
 */
    height: 80%;
    width: 25%;
    border-radius: 12px;
    background-size: cover;
    background-position: center;

}

#card1 {
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

#card2 {
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

#card3 {
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

.overlays {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #c3fd5e;
    padding: 75px 35px;
    opacity: 0;
    transition: all ease 0.5s;
    cursor: pointer;
}

.overlays h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}

.overlays p {
    font-size: 1.09rem;
    color: black;
}

.overlays:hover {
    opacity: 1;
}

.card:hover {
    transform: rotate3d(1, 1, 0, 20deg);
}

#green-div {
    background: rgb(57, 170, 50);
    background: linear-gradient(207deg, rgba(57, 170, 50, 1) 18%, rgba(170, 220, 32, 1) 54%);
    display: flex;
    gap: 20px;
    height: 30vh;
    width: 100%;
    text-align: center;
    position: relative;
}

#green-div h1 {
    width: 70%;
    padding: 70px;
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
}

#green-div img {
    width: 18%;
    object-fit: cover;
    opacity: 0.4;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#page3 p {
    width: 65%;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 2.5rem;
}

#page3 img {
    width: 5%;
    /*     position: absolute;
 */
}

#img1 {
    position: relative;
    top: -170px;
}

#img2 {
    position: relative;
    top: 150px;
    right: 50px;
}

#img1:hover {
    transform: translateY(-50px);
}

.page3-h1 {
    z-index: 0;
    position: relative;
    text-align: center;
    font-family: gilroy;
    color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.5px;
    font-size: 5rem;
    font-weight: 900;
}

#page4 {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.elem {
    height: 55%;
    width: 30%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    top: -100px
}

.elem h1 {
    height: 100%;
    width: 100%;
    background: rgb(57, 170, 50);
    background: linear-gradient(207deg, rgba(57, 170, 50, 1) 18%, rgba(170, 220, 32, 1) 54%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    transition: all ease 0.5s;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.elem:hover h1 {
    color: #fff;
    background-color: transparent;
}

#footer {
    height: 55vh;
    width: 100%;
    background: rgb(57, 170, 50);
    background: linear-gradient(207deg, rgba(57, 170, 50, 1) 18%, rgba(170, 220, 32, 1) 54%);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
    padding: 0 100px;
}

#footer img {
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.8;
    left: 0;
}

#f1 img {
    height: 100px;
    position: relative;
    transition: all ease 0.5s;
}

#f1 img:hover {
    transform: scale(0.9);
}

#f1,
#f2,
#f4,
#f3 {
    position: relative;
    width: fit-content;
    z-index: 9;
    cursor: pointer;
}

#f2 h2 {
    width: 120%;
    color: black;
    font-weight: 900;
    z-index: 9;
}

#f2 h2:hover {
    color: #fff;
}

#f3 h2 {
    width: 120%;
    color: black;
    font-weight: 900;
    z-index: 9;

}

#f3 h2:hover {
    color: #fff;
}

#f4 h3 {
    color: black;
    font-weight: 900;
    cursor: none;
}

#f4 h2 {
    margin-top: 20px;
    color: black;
    font-weight: 900;
    transition: all ease 0.5s;
}

#f4 h2:hover {
    color: #fff;
    transform: scale(1.2);
}

.icons {
    display: flex;
    position: absolute;
    bottom: 40px;
    gap: 20px;
    z-index: 9;

}

.icons i {
    transition: all ease 0.5s;
}

.icons i:hover {
    color: #000;
    transform: scale(1.2);
}

.h5 {
    position: relative;
    bottom: -5%;
    left: 16%;
    font-weight: 400;
    color: #000;
}

span {
    font-size: 1.2rem
}